<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config :: head}"></head>

<body class="d-flex flex-column h-100 noto-serif-kr">
  <header th:replace="~{fragments/header :: header}"></header>
  <main class="flex-shrink-0">
    <div th:replace="~{fragments/banner :: banner}"></div>
    <div class="container">
      <div layout:fragment="content"></div>
    </div>
  </main>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
  <div layout:fragment="script_bottom"></div>
</body>

</html>