<!DOCTYPE html>
<html layout:decorate="~{/layouts/main_layout}">
<th:block layout:fragment="content">

  <div th:object="${word}" class="container mt-5">
    <div class="row">
      <div class="col=lg-8">
        <article>
          <input type="hidden" th:field="*{id}">
          <header class="mb-4">
            <input type="text" th:field="*{name}" th:placeholder="#{word}" class="form-control" required />
          </header>
          <section class="mb-4">
            <input type="text" th:field="*{language}" th:placeholder="#{language}" class="form-control" required />
          </section>
          <section class="mb-4">
            <input type="text" th:field="*{partOfSpeech}" th:placeholder="#{partOfSpeech}" class="form-control" required />
          </section>
          <section class="mb-4">
            <input type="text" th:field="*{pronunciation}" th:placeholder="#{pronunciation}" class="form-control" required />
          </section>
          <section class="mb-5">
            <textarea th:field="*{meaning}" th:placeholder="#{meaning}" class="form-control h-25" rows="10" required></textarea>
          </section>
          <button th:if="*{id} != null" type="button" id="modify-btn" th:text="#{save}" class="btn btn-main"></button>
          <button th:if="*{id} == null" type="button" id="create-btn" th:text="#{save}" class="btn btn-main"></button>
        </article>
      </div>
    </div>
  </div>

  <script th:src="@{/js/word.js}"></script>
</th:block>

</html>