<!DOCTYPE html>
<html layout:decorate="~{/layouts/mainLayout}">
<th:block layout:fragment="content">
  <div class="container">

    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/words/new}'|"
            class="btn btn-main mb-3"><i class="bi bi-pen me-2"></i> [[#{word.add}]]</button>

    <div th:each="word: ${words}" class="row-6">
      <div class="card">
        <div th:text="${word.id}" class="card-header">
        </div>
        <div class="card-body">
          <h5 th:text="${word.name}" class="card-title"></h5>
          <p th:text="${word.language}" class="text-muted card-text"></p>
          <p th:text="${word.meaning}" class="card-text"></p>
          <a th:href="@{/words/{id}(id=${word.id})}" class="btn btn-main">
            <i class="bi bi-megaphone me-2"></i>[[#{word.view}]]</a>
        </div>
      </div>
      <br>
    </div>

    <button type="button" th:text="#{logout}"
            th:onclick="|location.href='@{/logout}'|"
            class="btn btn-secondary mb-3"></button>

  </div>
  <script th:src="@{/js/word.js}"></script>
</th:block>

</html>