<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/config :: head}"></head>

<body class="gradient-custom-signup noto-serif-kr">
  <section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
      <div class="card bg-dark" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h2 th:text="#{signup}" class="text-white"></h2>
          <p class="text-white-50 mt-2 mb-5">[[#{website.title}]]<br>[[#{website.subtitle}]]</p>
          <div class="mb-2">
            <form th:action="@{/user/signup}" th:object="${request}" method="post">
              <div th:replace="~{fragments/error :: errorFragment}"></div>
              <div class="mb-3">
                <label for="email" th:text="#{email}" class="form-label text-white"></label>
                <input type="email" th:field="*{email}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="password" th:text="#{password}" class="form-label text-white"></label>
                <input type="password" th:field="*{password}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="name" th:text="#{nickname}" class="form-label text-white"></label>
                <input type="text" th:field="*{name}" class="form-control">
              </div>
              <div class="mb-3">
                <label for="phone" th:text="#{phone}" class="form-label text-white"></label>
                <input type="tel" th:field="*{phone}" class="form-control">
              </div>
              <div class="form-check mb-3">
                <label for="receivingEmail" class="form-check-label text-white">
                  <input type="checkbox" th:field="*{receivingEmail}" id="receivingEmail" class="form-check-input" th:checked="true" />
                  [[#{receivingEmail}]]
                </label>
              </div>
              <button type="submit" th:text="#{register}" class="btn btn-main"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>