<!DOCTYPE html>
<html layout:decorate="~{/layouts/mainLayout}">
<th:block layout:fragment="content">
  <div class="p-5 mb-5 text-center">
    <h1 class="mb-3">문의하기</h1>
    <h4 class="mb-3">문의하실 사항을 적어 주세요.</h4>
  </div>

  <div th:object="${report}" class="container mt-5">
    <div class="row">
      <div class="col=lg-8">
        <article>
          <input type="hidden" th:field="*{id}">
          <header class="mb-4">
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목">
          </header>
          <section class="mb-5">
            <textarea th:field="*{content}" class="form-control h-25" rows="10" placeholder="내용"></textarea>
          </section>
          <button th:if="*{id} != null" type="button" id="modify-btn" class="btn btn-main">수정</button>
          <button th:if="*{id} == null" type="button" id="create-btn" class="btn btn-main">등록</button>
        </article>
      </div>
    </div>
  </div>

  <script th:src="@{/js/report.js}"></script>
</th:block>

</html>