<!DOCTYPE html>
<html layout:decorate="~{/layouts/mainLayout}">
<th:block layout:fragment="content">
  <div class="container">
    <button type="button" id="create-btn" th:onclick="|location.href='@{/new-report}'|"
            class="btn btn-main mb-3">문의 작성</button>
    <div th:each="report: ${reports}" class="row-6">
      <div class="card">
        <div th:text="${report.id}" class="card-header">
        </div>
        <div class="card-body">
          <h5 th:text="${report.title}" class="card-title"></h5>
          <p th:text="${report.content}" class="card-text"></p>
          <a th:href="@{/reports/{id}(id=${report.id})}" class="btn btn-main">
            <i class="bi bi-megaphone me-2"></i>문의 보기</a>
        </div>
      </div>
      <br>
    </div>
    <button type="button" th:onclick="|location.href='@{/logout}'|"
            class="btn btn-secondary mb-3">로그아웃</button>
  </div>

  <script th:src="@{/js/report.js}"></script>
</th:block>

</html>